{
	"mailFlag": "0",
	"editFlag": null,
	"classId": 119235,
	"classCourseId": 1641959,
	"courseSeries": 3,
	"className": "自动化测试添加讲座2",
	"courseTypeCode": 4,
	"courseTypeName": "讲座",
	"playType": 1,
	"ossResourceUrl": "",
	"classDateStartTime": "2020-11-13 00:00:00",
	"classDateEndTime": "2020-12-13 00:00:00",
	"teacherType": 1,
	"teacherId": 5881,
	"teacherName": "自动化老师1",
	"teacherNameMobile": "自动化老师1(15799990001)",
	"famousTeacherName": "",
	"famousTeacherBrief": "",
	"managerList": [{
		"teacherId": 5881,
		"name": "自动化老师1",
		"teacherName": "自动化老师1(15799990001)"
	}],
	"schoolShareFlag": 1,
	"coverUrl": "https://picspy.lexue.com/avatar-employee-1605166294473",
	"detailPicList": [{
		"url": "https://picspy.lexue.com/avatar-employee-1605166523694",
		"height": 229,
		"width": 690,
		"uid": 1605171972600,
		"status": "success"
	}],
	"schoolId": 375,
	"schoolName": "清水二中测试",
	"campusId": 445,
	"campusName": "奎屯测试校区",
	"lectureType": 1,
	"content": null,
	"gradeList": [2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2139, 2140, 2141, 2293, 2294, 2295, 2296],
	"gradeFully": 1,
	"subjectFully": 0,
	"subjectList": [2142, 2143, 2144, 2183, 2184, 2185, 2194, 2195],
	"tuitionFee": 19,
	"classTimeStatus": null,
	"queryStartDate": null,
	"queryEndDate": null,
	"pageNum": null,
	"pageSize": null,
	"createUserId": null,
	"createName": null,
	"updateUserId": null,
	"updateName": null,
	"detailPic": "[{\"height\":229,\"url\":\"https://picspy.lexue.com/avatar-employee-1605166523694\",\"width\":690}]",
	"weekName": null,
	"weekCode": null,
	"yearId": 488,
	"yearName": "2021",
	"seasonId": 481,
	"seasonName": "秋季",
	"supportPubOrder": null,
	"playUrl": ""
}