{
	"gradeKeyId": null,
	"subjectKeyId": null,
	"sectionKeyId": null,
	"mailFlag": 0,
	"changeStatus": 0,
	"userId": null,
	"teacherType": 1,
	"famousTeacherName": "",
	"famousTeacherBrief": "",
	"lectureType": 1,
	"gradeFully": 1,
	"subjectFully": 0,
	"validType": 1,
	"validDays": 0,
	"validStartTime": null,
	"validEndTime": null,
	"quoteStatus": 0,
	"quoteId": 0,
	"quoteName": "",
	"conflictStatus": false,
	"detailPic": "",
	"playType": 1,
	"teacherIdList": null,
	"schoolShareFlag": 1,
	"courseVideoList": null,
	"coverUrl": "https://picspy.lexue.com/avatar-employee-1605164376794",
	"classId": 119230,
	"schoolId": 375,
	"campusId": 445,
	"courseId": 44995,
	"levelId": 2933,
	"levelName": "level11",
	"className": "2020秋季小班语文level11",
	"teacherId": 5881,
	"teacherName": "自动化老师1",
	"gradeId": 2135,
	"subjectId": 2142,
	"gradeIds": null,
	"subjectIds": null,
	"startTime": "2020-11-12 00:00:00",
	"endTime": "2020-12-12 00:00:00",
	"numLimit": 17,
	"classPrice": "0.00",
	"tuitionFee": 0,
	"entryFee": 0,
	"schoolFee": 0,
	"classStatus": 2,
	"occupation": null,
	"yearId": 484,
	"seasonId": 481,
	"sectionId": 2121,
	"courseTime": null,
	"courseFrequency": 2,
	"courseSumTime": null,
	"courseLimit": null,
	"classTimeId": 5367,
	"classTimeName": "00:00~00:15",
	"content": "",
	"createTime": "2020-11-12 15:00:08",
	"createUserId": 4656,
	"createName": "史成涛",
	"updateTime": "2020-11-13 14:40:06",
	"updateUserId": 4375,
	"updateName": "陈赛",
	"adjustLimit": 0,
	"changeClassLimit": 1,
	"changeAdjustLimit": 1,
	"courseTypeCode": 1,
	"courseTypeName": "长期班",
	"yearName": "2020",
	"seasonName": "秋季",
	"sectionName": "学龄前",
	"gradeName": "初一",
	"subjectName": "语文",
	"courseName": "2020秋季小班语文level11",
	"schoolName": "清水二中测试",
	"campusName": "奎屯测试校区",
	"classDateStartTime": "2020-11-14 00:00:00",
	"classDateEndTime": "2020-11-15 00:15:00",
	"classStartTime": "00:00:00",
	"classEndTime": "00:15:00",
	"pageNum": 1,
	"pageSize": 10,
	"ruleId": 7746,
	"ruleName": "(每周周六周日)自动化测试上课规律0001",
	"courseSeries": 3,
	"timeCode": 1,
	"execPartPrice": 1,
	"showClass": null,
	"oldStudentChangeShiftStartTime": null,
	"oldStudentChangeShiftEndTime": null,
	"orderLimit": null,
	"onlineClassStatus": null,
	"weekCode": 6,
	"weekName": "周六",
	"timeName": "上午",
	"multiClassStatus": null,
	"livePlugFlowList": null,
	"testClassFlag": 0,
	"screenType": 1,
	"specialPrice": 0,
	"singleTuitionFee": 350,
	"orderScale": 60,
	"classTeacherId": 5881,
	"classTeacherName": "自动化老师1",
	"classCapacity": 25,
	"specialClass": 0,
	"superNumberClassFlag": 0,
	"lowPriceClassFlag": 1,
	"auditingStatus": 3,
	"limitEditFlag": 1,
	"appTeacherName": "",
	"appTeacherId": "",
	"classCourseDtoList": [{
		"quoteStatus": 0,
		"conflictTotal": null,
		"classCourseId": 1641967,
		"classId": 119230,
		"campusId": 445,
		"classroomId": null,
		"teacherId": 5881,
		"teacherName": "自动化老师1",
		"classDate": "2020-11-14",
		"classStartTime": "00:00:00",
		"classEndTime": "00:15:00",
		"weekName": "周六",
		"weekCode": 6,
		"occupationStatus": 1,
		"courseSort": 1,
		"createTime": "2020-11-13 14:40:06",
		"className": "2020秋季小班语文level11",
		"classCourseName": "2020秋季小班语文level11第1讲",
		"campusName": "奎屯测试校区",
		"timeAndName": null,
		"classTimeName": "00:00~00:15",
		"classroomName": null,
		"teacherOccupation": null,
		"classroomOccupation": null,
		"timeCode": 1,
		"timeName": "上午",
		"courseStage": "1/2",
		"coursePrice": 0,
		"dateStartTime": "2020-11-14 00:00:00",
		"dateEndTime": "2020-11-14 00:15:00",
		"classTimeId": 5367,
		"classRuleId": null,
		"receiveCourseNum": 0,
		"createUserId": 4375,
		"createName": "陈赛",
		"updateTime": "2020-11-13 14:40:06",
		"updateUserId": 0,
		"updateName": null,
		"courseFirstDate": null,
		"courseFrequency": null
	},
	{
		"quoteStatus": 0,
		"conflictTotal": null,
		"classCourseId": 1641968,
		"classId": 119230,
		"campusId": 445,
		"classroomId": null,
		"teacherId": 5881,
		"teacherName": "自动化老师1",
		"classDate": "2020-11-15",
		"classStartTime": "00:00:00",
		"classEndTime": "00:15:00",
		"weekName": "周日",
		"weekCode": 7,
		"occupationStatus": 1,
		"courseSort": 2,
		"createTime": "2020-11-13 14:40:06",
		"className": "2020秋季小班语文level11",
		"classCourseName": "2020秋季小班语文level11第2讲",
		"campusName": "奎屯测试校区",
		"timeAndName": null,
		"classTimeName": "00:00~00:15",
		"classroomName": null,
		"teacherOccupation": null,
		"classroomOccupation": null,
		"timeCode": 1,
		"timeName": "上午",
		"courseStage": "2/2",
		"coursePrice": 0,
		"dateStartTime": "2020-11-15 00:00:00",
		"dateEndTime": "2020-11-15 00:15:00",
		"classTimeId": 5367,
		"classRuleId": null,
		"receiveCourseNum": 0,
		"createUserId": 4375,
		"createName": "陈赛",
		"updateTime": "2020-11-13 14:40:06",
		"updateUserId": 0,
		"updateName": null,
		"courseFirstDate": null,
		"courseFrequency": null
	}],
	"managerList": [],
	"detailPicList": [],
	"liveFlow": null
}