{
"id":"290336",
"classAuthority":"1",
"cityId":"654000",
"cityName":"伊犁哈萨克自治州",
"studentName":"建学1ukzW",
"mobile":"18713582783",
"birthday":"",
"newMobile":"",
"currentSchool":"伊利第一小学",
"currentSchoolId":"18",
"gradeId":"25",
"sex":"2",
"headPic":"",
"spareMobile":"",
"studentStatus":"1",
"IDNumber":""
}