{
"id":"276845",
"classAuthority":"1",
"cityId":"654000",
"cityName":"伊犁哈萨克自治州",
"studentName":"自动化学生2",
"mobile":"13999999993",
"birthday":"",
"newMobile":"13999999993",
"currentSchool":"伊利第一小学",
"currentSchoolId":"18",
"gradeId":"25",
"sex":"2",
"headPic":"",
"spareMobile":"",
"studentStatus":"1",
"IDNumber":""
}