{
"id":"${id}",
"classAuthority":"2",
"cityId":"654000",
"cityName":"伊犁哈萨克自治州",
"studentName":"${studentName}",
"mobile":"${mobile}",
"birthday":"",
"newMobile":"${newMobile}",
"currentSchool":"",
"currentSchoolId":"",
"gradeId":"27",
"sex":"2",
"headPic":"",
"spareMobile":"",
"studentStatus":"1",
"IDNumber":""
}