{
"campusId": 488,
"classroomName": "自动化教师0001",
"peopleNum": 7,
"classroomStatus": 1,
"teacherCameraIP": "",
"teacherCameraPort": "",
"teacherCameraAccount": "lexueomo",
"teacherCameraPass": "lexue.com",
"studentCameraUrl": "",
"microphoneType": 0,
"id": 3401
}