{
"levels": [{
	"schoolId": ${schoolId},
	"subjectId": ${subjectId},
	"subjectName": "${subjectName}",
	"levelName": "${levelName}",
	"levelStatus": 1
}],
"operatorName": "${operatorName}",
"subjectName": "${subjectName2}"
}