{
"orderCourseIds":"${orderCourseIds}",
"reasonId":"32",
"classRefund":"0",
"discountRefund":"0",
"refundClassFee":"0",
"refundEntryFee":"0",
"refundSchoolFee":"0",
"toRefundSchoolFee":"0",
"classRemain":"1",
"teacherId":"${teacherId}",
"isRate":"0",
"removeFromClass":"0",
"orderDetailId":"${orderDetailId}",
"refundType":"1",
"refundMoney":"0",
"toRefundClassFee":"0",
"toRefundEntryFee":"0",
"operationName":"${operationName}",
"classRefundStatus":"true",
"appointType":"1"
}