{
"courseFrequency":"2",
"courseLimit":"0",
"coursePrice":"0",
"courseTime":"3",
"entryFee":"0",
"schoolFee":"0",
"courseSeries":"1",
"courseName": "${GKKcourseName}",
"courseTypeId": "${GKKcourseTypeId}",
"courseTypeName":"公开课",
"gradeId": "${gradeId}",
"gradeName": "小班",
"schoolId": "${schoolId}",
"schoolName": "清水二中测试",
"seasonId":"${seasonId}",
"seasonName":"春季",
"sectionId":"${sectionId}",
"sectionName":"学龄前",
"subjectId":"${subjectId}",
"subjectName":"语文",
"yearId":"${yearId}",
"yearName":"2020",
"startTime":"${startTime}",
"endTime":"${endTime}",
"oldStudentChangeShiftStartTime":"",
"oldStudentChangeShiftEndTime":""

}