{
	"activityName": "${activityName}",
	"activityType": 1,
	"sceneType": 1,
	"courseSeries": 1,
	"courseTypeCode": 1,
	"discountType": 1,
	"mainSubjectId": 2143,
	"ruleDescribe": "1，台下人走过不见旧颜色\n",
	"schoolId": 375,
	"gradeList": [2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2139, 2140, 2141, 2293, 2294, 2295, 2296],
	"subjectList": [2142, 2143],
	"fromSeasonId": 481,
	"toSeasonId": 482,
	"fromYearId": 484,
	"toYearId": 484,
	"ruleList": [{
		"subjectAmout": 2,
		"discountAmount": "211"
	}],
	"schoolName": "清水二中测试",
	"gradeFully": 1,
	"subjectFully": 0,
	"seasonFully": 1,
	"startTime": "${startTime}",
	"endTime": "${endTime}"
}