{
	"className": "${className}",
	"teacherType": 1,
	"detailPicList": [{
		"test": "test",
		"url": "https://picspy.lexue.com/avatar-employee-1608725615041",
		"uid": 1608725615038,
		"height": 229,
		"width": 690,
		"status": "success"
	}],
	"managerList": [{
		"teacherName": "师yMP2t(13938924476)",
		"teacherId": ${teacherId},
		"name": "${name}"
	}],
	"courseTypeCode": 4,
	"playType": 1,
	"schoolShareFlag": 0,
	"mailFlag": 0,
	"yearId": ${yearId},
	"seasonId": ${seasonId},
	"tuitionFee": 0,
	"schoolId": ${schoolId},
	"gradeList": [2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2293,2294,2295,2296],
	"campusId": ${campusId},
	"subjectList": [2195,2194,2185,2184,2183,2144,2143,2142],
	"teacherId": ${teacherId1},
	"manager": {},
	"coverUrl": "https://picspy.lexue.com/avatar-employee-1608725606515",
	"lectureType": 4,
	"schoolName": "${schoolName}",
	"campusName": "${campusName}",
	"teacherName": "${teacherName}",
	"yearName": "${yearName}",
	"seasonName": "秋季",
	"gradeFully": 1,
	"subjectFully": 1,
	"classDateStartTime": "${classDateStartTime}",
	"classDateEndTime": "${classDateEndTime}"
}