{
	"campusId": 488,
	"classroomName": "自动化接口测试新建教室",
	"peopleNum": 1,
	"classroomStatus": 1,
	"teacherCameraIP": "",
	"teacherCameraPort": "",
	"teacherCameraAccount": "lexueomo",
	"teacherCameraPass": "lexue.com",
	"studentCameraUrl": "",
	"microphoneType": 0
}