{
"schoolId": ${schoolId},
"name": "${classrulename}",
"startTime": "2020-11-18",
"endTime": "2020-11-21",
"times": 1,
"cycle": 1,
"interval": 1,
"crlList": [{
	"id": null,
	"classRuleId": null,
	"date": "2020-11-21",
	"classTimes": 1,
	"dateWeek": "周六"
}],
"week": "6,7",
"crlRequest": [{
	"id": null,
	"classRuleId": null,
	"date": "2020-11-21",
	"classTimes": 1,
	"dateWeek": "周六"
}]
}