{
	"classCapacity": 25,
	"classTeacherId": 5881,
	"orderScale": 60,
	"singleTuitionFee": 350,
	"courseTypeCode": 1,
	"specialPrice": 0,
	"className": "2020秋季小班语文level11",
	"teacherType": 1,
	"playType": 1,
	"screenType": 1,
	"school_share_flag": 1,
	"mailFlag": 0,
	"campusId": 445,
	"yearId": 484,
	"seasonId": 481,
	"sectionId": 2121,
	"gradeId": 2125,
	"subjectId": 2142,
	"levelId": 2933,
	"teacherId": 5881,
	"courseFrequency": "2",
	"tuitionFee": 0,
	"schoolFee": 0,
	"entryFee": 0,
	"classPrice": "0.00",
	"changeClassLimit": 1,
	"changeAdjustLimit": 1,
	"content": "",
	"coverUrl": "https://picspy.lexue.com/avatar-employee-1605164376794",
	"numLimit": 25,
	"adjustLimit": 0,
	"testClassFlag": 0,
	"schoolId": 375,
	"gradeName": "小班",
	"auditingStatus": 1,
	"lowPriceClassFlag": 1,
	"superNumberClassFlag": 0,
	"specialClass": 0,
	"classTeacherName": "自动化老师1",
	"schoolName": "清水二中测试",
	"campusName": "奎屯测试校区",
	"classTimeName": "00:00~00:15",
	"teacherName": "自动化老师1",
	"startTime": "2020-11-12 00:00:00",
	"endTime": "2020-12-12 00:00:00",
	"yearName": "2020",
	"seasonName": "秋季",
	"sectionName": "学龄前",
	"subjectName": "语文",
	"courseTypeName": "长期班",
	"classTimeId": 5367,
	"classDateStartTime": "2020-11-14 00:00:00",
	"classDateEndTime": "2020-11-15 00:15:00",
	"classCourseDtoList": [{
		"quoteStatus": 0,
		"conflictTotal": 0,
		"classCourseId": null,
		"classId": null,
		"campusId": null,
		"classroomId": null,
		"teacherId": 5881,
		"teacherName": "自动化老师1",
		"classDate": "2020-11-14",
		"classStartTime": "00:00:00",
		"classEndTime": "00:15:00",
		"weekName": "周六",
		"weekCode": null,
		"occupationStatus": null,
		"courseSort": 1,
		"createTime": null,
		"className": null,
		"classCourseName": "2020秋季小班语文level11第1讲",
		"campusName": null,
		"timeAndName": null,
		"classTimeName": "00:00~00:15",
		"classroomName": null,
		"teacherOccupation": 0,
		"classroomOccupation": null,
		"timeCode": 1,
		"timeName": "上午",
		"courseStage": "1/2",
		"coursePrice": null,
		"dateStartTime": "2020-11-14 00:00:00",
		"dateEndTime": "2020-11-14 00:15:00",
		"classTimeId": 5367,
		"classRuleId": null,
		"receiveCourseNum": null,
		"createUserId": null,
		"createName": null,
		"updateTime": null,
		"updateUserId": null,
		"updateName": null,
		"courseFirstDate": null,
		"courseFrequency": null,
		"isEdit": false
	},
	{
		"quoteStatus": 0,
		"conflictTotal": 0,
		"classCourseId": null,
		"classId": null,
		"campusId": null,
		"classroomId": null,
		"teacherId": 5881,
		"teacherName": "自动化老师1",
		"classDate": "2020-11-15",
		"classStartTime": "00:00:00",
		"classEndTime": "00:15:00",
		"weekName": "周日",
		"weekCode": null,
		"occupationStatus": null,
		"courseSort": 2,
		"createTime": null,
		"className": null,
		"classCourseName": "2020秋季小班语文level11第2讲",
		"campusName": null,
		"timeAndName": null,
		"classTimeName": "00:00~00:15",
		"classroomName": null,
		"teacherOccupation": 0,
		"classroomOccupation": null,
		"timeCode": 1,
		"timeName": "上午",
		"courseStage": "2/2",
		"coursePrice": null,
		"dateStartTime": "2020-11-15 00:00:00",
		"dateEndTime": "2020-11-15 00:15:00",
		"classTimeId": 5367,
		"classRuleId": null,
		"receiveCourseNum": null,
		"createUserId": null,
		"createName": null,
		"updateTime": null,
		"updateUserId": null,
		"updateName": null,
		"courseFirstDate": null,
		"courseFrequency": null,
		"isEdit": false
	}],
	"classStartTime": "00:00:00",
	"classEndTime": "00:15:00",
	"managerList": [],
	"ruleId": 7746,
	"schoolShareFlag": 1,
	"ruleName": "(每周周六周日)自动化测试上课规律0001",
	"courseVideoList": [],
	"detailPicList": [],
	"quoteStatus": 0,
	"levelName": "level11",
	"liveFlow": null,
	"gradeFully": 1,
	"subjectFully": 0
}