{
	"classAuthority": 1,
	"cityId": 654000,
	"schoolId": "",
	"mobile": "13999999993",
	"currentSchool": "伊利第一小学",
	"currentSchoolId": 18,
	"gradeId": 25,
	"sex": 2,
	"studentName": "自动化学生2",
	"birthday": "",
	"studentCode": "",
	"headPic": "",
	"registerTime": "",
	"spareMobile": "",
	"inviterNumber": "",
	"recommender": "",
	"idnumber": "",
	"cityName": "伊犁哈萨克自治州",
	"studentLevelList": [{
		"levelId": 2703,
		"subjectId": 2143,
		"schoolId": 375
	}],
	"studentStatus": 1
}