{
	"classAuthority": 2,
	"cityId": 654000,
	"schoolId": "",
	"mobile": "${smobile}",
	"currentSchool": "",
	"currentSchoolId": "",
	"gradeId": 27,
	"sex": 2,
	"studentName": "${studentName}",
	"birthday": "",
	"studentCode": "",
	"headPic": "",
	"registerTime": "",
	"spareMobile": "",
	"inviterNumber": "",
	"recommender": "",
	"idnumber": "",
	"cityName": "伊犁哈萨克自治州",
	"studentLevelList": [],
	"studentStatus": 1
}