{
"teacherRank": 1,
"superviseSubject": "",
"superviseGrade": "",
"userType": "",
"roleId": ${roleId},
"roleType": ${roleType},
"roleTypeName": "教师",
"name": "${tname}",
"realName": "${realName}",
"staffNumber": "${staffNumber}",
"entryTime": "2020-11-10",
"mobile": "${tmobile}",
"headPic": "",
"teacherVideoCover": "",
"sex": 2,
"age": 18,
"email": "",
"schoolId": ${schoolId},
"campusIds": "441,444,445,450,453,465,476",
"nameInitials": "S",
"graduateFrom": "波士顿动力",
"mobileShow": 0,
"teacherType": "1",
"gradeId": "2296,2295,2294,2293,2127,2126,2125",
"gradeIdSupervision": [],
"subjectId": "2142,2143,2144,2183,2184,2185,2194,2195",
"subjectIdSupervision": [],
"ldList": [],
"introduction": "AutoTest",
"tags": [],
"teacherCertificationCode": "",
"teacherCertificationImage": "",
"showGraduationSchool": 1,
"gradeName": "高中组,初中组,小学组,综合,大班,中班,小班",
"subjectName": "语文,数学,英语,物理,化学,生物,地理,围棋",
"teacherStatus": 1,
"roleName": "",
"teacherUserId": ""
}