{
"courseFirstDate": "",
"courseFrequency": "1",
"teacherId": 5881,
"teacherName": "自动化老师1",
"classTimeId": 4606,
"classTimeName": "07:30~09:00",
"classStartTime": "07:30:00",
"classEndTime": "09:00:00",
"classRuleId": 7746,
"quoteStatus": 0
}