{
"couponType":1,
"preferentialAmt":98,
"mainTitle":"${mainTitle}",
"assistantTile":"",
"validityType":"2",
"Time":"",
"effectiveDays":0,
"validityDays":1,
"reductionAmt":"987",
"totalStock":"4",
"schoolId":"${schoolId}",
"gradeStr":"2288,2039,2040,2041,2042,2043,2044,2045,2046,2047,2052,2053,2054,2261",
"seasonStr":"482,479,480,481",
"subjectStr":"2048,2049,2050,2055,2056,2262",
"courseTypeStr":"1,2,3,4",
"gradeFully":"1",
"seasonFully":"1",
"subjectFully":"1",
"courseTypeFully":"1",
"mutexFlag":"1",
"overlay":"0",
"campusStr":"483,458,457,439,158,55,52,57,54,51,56,53"
}