{
	"activityName": "${activityName}",
	"activityType": 2,
	"sceneType": 1,
	"courseSeries": 1,
	"courseTypeCode": 1,
	"discountType": 1,
	"mainSubjectId": "",
	"ruleDescribe": "一往无前虎山行\n拨开云雾见光明\n梦里花开牡丹亭\n幻象成真歌舞升平",
	"schoolId": ${schoolId},
	"gradeList": [2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2139, 2140, 2141, 2293, 2294, 2295, 2296],
	"subjectList": [2142, 2143, 2144, 2183, 2184, 2185, 2194, 2195],
	"fromSeasonId": 482,
	"toSeasonId": 482,
	"fromYearId": 484,
	"toYearId": 484,
	"seasonList": [482, 479, 480, 481],
	"ruleList": [{
		"subjectAmout": 1,
		"discountAmount": "143"
	}],
	"schoolName": "清水二中测试",
	"gradeFully": 1,
	"subjectFully": 1,
	"seasonFully": 1,
	"startTime": "${startTime}",
	"endTime": "${endTime}"
}