{
	"classCapacity": 25,
	"classTeacherId": "${classTeacherId}",
	"orderScale": 0,
	"singleTuitionFee": 0,
	"gradeName": "小班",
	"testClassFlag": 0,
	"specialPrice": 0,
	"orderLimit": 0,
	"schoolId": ${schoolId},
	"courseId": ${courseId},
	"courseTypeId": ${courseTypeId},
	"levelId": 0,
	"sectionId": ${sectionId},
	"gradeId": ${gradeId},
	"subjectId": ${subjectId},
	"className": "${className}",
	"numLimit": "9",
	"adjustLimit": "1",
	"changeClassLimit": 0,
	"changeAdjustLimit": 0,
	"startTime": "${startTime}",
	"endTime": "${endTime}",
	"courseTime": 3,
	"courseFrequency": 2,
	"courseLimit": 0,
	"coursePrice": 0,
	"content": "",
	"yearId": ${yearId},
	"seasonId": ${seasonId},
	"entryFee": 0,
	"schoolFee": 0,
	"classPrice": "",
	"showClass": 1,
	"courseSeries": 1,
	"courseSumTime": 6,
	"appTeacherName": "${appTeacherName}",
	"appTeacherId": "${appTcId}",
	"auditingStatus": 1,
	"lowPriceClassFlag": 1,
	"superNumberClassFlag": 0,
	"specialClass": 0,
	"classTeacherName": "${classTeacherName}",
	"detailPicList": [],
	"oldStudentChangeShiftStartTime": "",
	"oldStudentChangeShiftEndTime": "",
	"tuitionFee": 0,
	"schoolName": "清水二中测试",
	"courseName": "${courseName}",
	"courseTypeName": "长期班",
	"sectionName": "学龄前",
	"subjectName": "语文",
	"seasonName": "寒假",
	"yearName": "2021",
	"levelName": "不限",
	"teacherId": ${teacherId},
	"teacherName": "${teacherName}",
	"campusId": ${campusId},
	"campusName": "${campusName}",
	"classroomId": ${classroomId},
	"classroomName": "${classroomName}",
	"classTimeId": ${classTimeId},
	"classTimeName": "${classTimeName}",
	"classStartTime": "${classStartTime}",
	"classEndTime": "${classEndTime}",
	"ruleId": ${ruleId},
	"ruleName": "${ruleName}",
	"classDateCopy": "${classDateCopy}",
	"classStartTimeCopy": "${classStartTimeCopy}",
	"classDateStartTime": "${classDateStartTime}",
	"classDateEndTime": "${classDateEndTime}",
	"classCourseDtoList": [{
		"classCourseId": null,
		"classId": null,
		"campusId": ${campusId1},
		"classroomId": ${classroomId1},
		"teacherId": ${teacherId1},
		"teacherName": "${teacherName1}",
		"classDate": "${classDate1}",
		"classStartTime": "${classStartTime1}",
		"dateStartTime": null,
		"dateEndTime": null,
		"classEndTime": "${classEndTime1}",
		"occupationStatus": null,
		"courseSort": 1,
		"createTime": null,
		"classCourseName": "${classCourseName1}",
		"showStatus": null,
		"classTimeId": ${classTimeId1},
		"className": null,
		"campusName": "${campusName1}",
		"timeName": "${timeName1}",
		"classroomName": "${classroomName1}",
		"teacherClassName": null,
		"classroomClassName": null,
		"teacherOccupation": 0,
		"classroomOccupation": 0,
		"coursePrice": null,
		"classTimeName": "${classTimeName1}",
		"weekName": "${weekName1}",
		"studentNum": null,
		"resourceLibId": null,
		"isEdit": false
	},
	{
		"classCourseId": null,
		"classId": null,
		"campusId": ${campusId2},
		"classroomId": ${classroomId2},
		"teacherId": ${teacherId2},
		"teacherName": "${teacherName2}",
		"classDate": "${classDate2}",
		"classStartTime": "${classStartTime2}",
		"dateStartTime": null,
		"dateEndTime": null,
		"classEndTime": "${classEndTime2}",
		"occupationStatus": null,
		"courseSort": 2,
		"createTime": null,
		"classCourseName": "${classCourseName2}",
		"showStatus": null,
		"classTimeId": ${classTimeId2},
		"className": null,
		"campusName": "${campusName2}",
		"timeName": "${timeName2}",
		"classroomName": "${classroomName2}",
		"teacherClassName": null,
		"classroomClassName": null,
		"teacherOccupation": 0,
		"classroomOccupation": 0,
		"coursePrice": null,
		"classTimeName": "${classTimeName2}",
		"weekName": "${weekName2}",
		"studentNum": null,
		"resourceLibId": null,
		"isEdit": false
	}]
}