{
	"className": "${className}",
	"teacherType": 1,
	"detailPicList": [{
		"test": "test",
		"url": "https://picspy.lexue.com/avatar-employee-1605166523694",
		"uid": 1605166523696,
		"height": 229,
		"width": 690,
		"status": "success"
	}],
	"managerList": [{
		"teacherName": "自动化老师1(15799990001)",
		"teacherId": ${teacherId},
		"name": "${name}"
	}],
	"courseTypeCode": 4,
	"playType": 1,
	"schoolShareFlag": 1,
	"mailFlag": 0,
	"yearId": ${yearId},
	"seasonId": 481,
	"tuitionFee": 1,
	"schoolId": ${schoolId},
	"gradeList": [2125,
	2126,
	2127,
	2128,
	2129,
	2130,
	2131,
	2132,
	2133,
	2134,
	2135,
	2136,
	2137,
	2138,
	2139,
	2140,
	2141,
	2293,
	2294,
	2295,
	2296],
	"campusId": ${campusId},
	"subjectList": [2142,
	2143,
	2144,
	2183,
	2184,
	2185,
	2194,
	2195],
	"teacherId": ${teacherId1},
	"manager": {

	},
	"coverUrl": "https://picspy.lexue.com/avatar-employee-1605166294473",
	"lectureType": 1,
	"schoolName": "清水二中测试",
	"campusName": "奎屯测试校区",
	"teacherName": "自动化老师1",
	"yearName": "2021",
	"seasonName": "秋季",
	"gradeFully": 1,
	"subjectFully": 1,
	"classDateStartTime": "${classDateStartTime}",
	"classDateEndTime": "${classDateEndTime}"
}