{
"schoolId":"${schoolId}",
"activitiesName":"${activitiesName}",
"activitiesStatus":"NaN",
"classIdStr":"58106",
"limittimeTuitionFeeStr":"0",
"startTime":"${startTime}",
"endTime":"${endTime}"
}