{
"teacherRank": 1,
"superviseSubject": "",
"superviseGrade": "",
"userType": "",
"roleId": 38,
"roleType": 1,
"roleTypeName": "教师",
"name": "自动化老师1",
"realName": "自动化老师1",
"staffNumber": "80000",
"entryTime": "2020-11-10",
"mobile": "15799990001",
"headPic": "",
"teacherVideoCover": "",
"sex": 2,
"age": 18,
"email": "",
"schoolId": 375,
"campusIds": "441,444,445,450,453,465,476",
"nameInitials": "Z",
"graduateFrom": "家里蹲",
"mobileShow": 0,
"teacherType": "1",
"gradeId": "",
"gradeIdSupervision": [],
"subjectId": "2142",
"subjectIdSupervision": [],
"ldList": [],
"introduction": "自动化测试1",
"tags": [],
"teacherCertificationCode": "",
"teacherCertificationImage": "",
"showGraduationSchool": 1,
"gradeName": "",
"subjectName": "语文",
"teacherStatus": 1,
"roleName": "",
"teacherUserId": ""
}