{
"requestId": "XXX",
"requestTime": "2019-03-03 12:11:09.245",
"sysName": "智能决策平台",
"sysCode": "XXX",
"orgCode": "xxx",
"departCode": "xxx",
"loginName": "khg",
"password": "111111",
"userName": "张三",
"IP": "192.178.10.15",
"requestJson": {},
"repeatSign": 0,
"dataflowCode": "{{dataflowCode}}",
"params":{"custName": "{{custName}}","cuidIDnumber":"{{cuidIDnumber}}","phone":"{{phone}}"
},
}