{
"requestId":"rdip000001",
"requestTime":"2019-05-28 11:32:32",
"sysName":"jcpt",
"sysCode":"jcpt",
"IP":"10.10.94.23",
"orgCode":"jigoubianhao",
"departCode":"bumenbiaohao",
"userName":"userName",
"repeatSign":"0",
"requestJson":{},
"dataflowCode":"{{dataflowCode}}",
"fields":[],
"params":{
    "ext_data_type":"1",
    "id_number":"370404199006301915",
    "ext_idno":"{{ext_idno}}",
    "account_name":"皮晴晴",
    "account_mobile":"13333333333",
    "home_address":"石家庄市宣化区东土关街5号楼1单元401号",
    "organization_address":"张家口李嘉诚企业"
    }
}