{
"requestId":"rdip000001",
"requestTime":"2019-05-28 11:32:32",
"sysName":"jcpt",
"sysCode":"jcpt",
"IP":"10.10.94.23",
"orgCode":"jigoubianhao",
"departCode":"bumenbiaohao",
"userName":"userName",
"repeatSign":"0",
"requestJson":{},
"dataflowCode":"{{dataflowCode}}",
"fields":[],
"params":{
    "jnlno":"zyfdantifraud",
    "jnldate":"20190606",
    "jnltimestamp":"20190606101010",
    "idno":"370404199006301915",
    "IdAddr":"石家庄市宣化区东土关街5号楼1单元401号",
    "bankcard":"6222670010003344",
    "EduBackgroup":"本科",
    "mateidno":"110404190001011928",
    "recfacetimepoints":"2019/06/06 10:10:10",
    "recfacefaildnum":"0",
    "workingentname":"张家口李嘉诚企业",
    "workingtelephone":"022-12345678",
    "mobilephone":"13333333333",
    "liveaddr":"石家庄市宣化区东土关街5号楼1单元401号",
    "contactmobilephone":"13800008888",
    "MaritalStatus":"03",
    "matemobilephone":"13800008888",
    "mateentname":"张家口李嘉诚企业",
    "guarantorphone":"13800008888",
    "ip":"10.10.235.114",
    "IPProvince":"河北省",
    "IPCity":"石家庄市",
    "IPCounty":"宣化区",
    "productid":"100010",
    "idfv":"huawei",
    "imei":"hauwei",
    "networktype":"01",
    "basestationinfo":"xxxxx",
    "gpsaddr":"xxxx",
    "macaddr":"xxx",
    "bssid":"xxxx",
    "IsProduction":"produce"
    }
}