<?xml version="1.0" encoding="GBK"?>

<PackageList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">  
  <Package> 
    <Header> 
      <RequestType>${mapData.RequestType}</RequestType>  
      <UUID>${mapData.UUID}</UUID>  
      <ComId>${mapData.ComId}</ComId>  
      <From>${mapData.From}</From>  
      <SendTime>${mapData.SendTime}</SendTime>  
      <TaoBaoSerial>${mapData.TaoBaoSerial}</TaoBaoSerial>  
      <ComSerial>${mapData.ComSerial}</ComSerial>  
      <Asyn>${mapData.Asyn}</Asyn>  
      <ReturnUrl>${mapData.ReturnUrl}</ReturnUrl>  
      <ProductCode>${mapData.ProductCode}</ProductCode> 
    </Header>  
    <Request> 
      <Order> 
        <TBOrderId xsi:nil="true">${mapData.TBOrderId}</TBOrderId>  
        <TotalPremium xsi:nil="true">${mapData.TotalPremium}</TotalPremium>  
        <PostFee xsi:nil="true">${mapData.PostFee}</PostFee>  
        <InsBeginDate xsi:nil="true">${mapData.InsBeginDate}</InsBeginDate>  
        <InsEndDate xsi:nil="true">${mapData.InsEndDate}</InsEndDate>  
        <InsPeriod xsi:nil="true">${mapData.InsPeriod}</InsPeriod>  
        <ApplyNum xsi:nil="true">${mapData.ApplyNum}</ApplyNum>  
        <Item> 
          <ItemId>${mapData.ItemId}</ItemId>  
          <SkuRiskCode xsi:nil="true">${mapData.SkuRiskCode}</SkuRiskCode>  
          <ProductCode xsi:nil="true">${mapData.Item_ProductCode}</ProductCode>  
          <ProductName xsi:nil="true">${mapData.ProductName}</ProductName>  
          <Amount xsi:nil="true">${mapData.Amount}</Amount>  
          <Premium xsi:nil="true">${mapData.Premium}</Premium>  
          <ActualPremium xsi:nil="true">${mapData.ActualPremium}</ActualPremium>  
          <DiscountRate xsi:nil="true">${mapData.DiscountRate}</DiscountRate> 
        </Item>  
        <PolicyNo xsi:nil="true">${mapData.PolicyNo}</PolicyNo> 
      </Order>  
      <Payment> 
        <TBOrderId>${mapData.Payment_TBOrderId}</TBOrderId>  
        <PayOrderId>${mapData.PayOrderId}</PayOrderId>  
        <CheckPayNo>${mapData.CheckPayNo}</CheckPayNo>  
        <PayTime>${mapData.PayTime}</PayTime>  
        <PayMoney>${mapData.PayMoney}</PayMoney>  
        <AccountDate>${mapData.AccountDate}</AccountDate>  
        <AlipayBuyerAccount>${mapData.AlipayBuyerAccount}</AlipayBuyerAccount>  
        <AlipayBuyerId>${mapData.AlipayBuyerId}</AlipayBuyerId> 
      </Payment>  
      <Proposal> 
        <ProposalNo>${mapData.ProposalNo}</ProposalNo>  
        <TotalPremium>${mapData.Proposal_TotalPremium}</TotalPremium>  
        <PostFee>${mapData.Proposal_PostFee}</PostFee>
          <SHSS BITRH="", VALE="""/>
      </Proposal> 
	  [
	  #foreach($innerMap in $mapData.complexItem)
	  {
		#foreach($key in $innerMap.keySet())
		$key :
			"$key":"${$innerMap.get("$key")}",
		#end
	  }
	  #end
	  ]
    </Request> 
  </Package> 
</PackageList>
