{
"requestId":"rdip000001",
"requestTime":"2019-05-28 11:32:32",
"sysName":"jcpt",
"sysCode":"jcpt",
"IP":"10.10.94.23",
"orgCode":"jigoubianhao",
"departCode":"bumenbiaohao",
"userName":"userName",
"repeatSign":"0",
"requestJson":{},
"dataflowCode":"{{dataflowCode}}",
"fields":[],
"params":{
    "JnlNo":"zyfdantifraud",
    "JnlDate":"20190606",
    "JnlTimestamp":"20190606101010",
    "IDType":"1",
    "idno":"370404199006301915",
    "mateidno":"110404190001011928",
    "ApplyState":"通过",
    "IsProduction":"produce"
    }
}