{
"requestId":"rdip000001",
"requestTime":"2019-05-28 11:32:32",
"sysName":"jcpt",
"sysCode":"jcpt",
"IP":"10.10.94.23",
"orgCode":"jigoubianhao",
"departCode":"bumenbiaohao",
"userName":"userName",
"repeatSign":"0",
"requestJson":{},
"dataflowCode":"{{dataflowCode}}",
"fields":[],
"params":{
    "jnlno":"zyfdantifraud",
    "jnldate":"20190606",
    "jnltimestamp":"20190606101010",
    "idno":"370404199006301915",
    "bankcard":"6222670010003344",
    "mobilephone":"13333333333",
    "ip":"10.10.235.114",
    "IPProvince":"河北省",
    "IPCity":"石家庄市",
    "IPCounty":"宣化区",
    "productid":"100010",
    "idfvimei":"huawei",
    "networktype":"01",
    "basestationinfo":"xxxxx",
    "gpsaddr":"xxxx",
    "macaddr":"xxx",
    "bssid":"xxxx",
    "IsProduction":"produce"
    }
}